* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  text-align: center;
}

.container {

}
img {
    width: 200px;
    height: 100px;
}


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  text-align: center;
  width: 90%;
  transform: translate(5%, 10%);
}



#Luassegitiga {background-color: red;}
#Kelilingsegitiga {background-color: green;}
#Luasjajargenjang {background-color: blue;}
#Kelilingjajargenjang {background-color: orange;}